@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #ffffff;
}

::selection {
  background: #d6d9dd;
  color: #050505;
}
